:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button.fancy{
  background-color: rgb(204, 204, 174);
}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.user {
  background-color: #444;
  box-shadow: 10px 10px 10px #22222222;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.user > div{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.user:nth-child(odd){
  background-color: #333;
}

.container{
  padding: 120px;
}

.todo {
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #f9f9f944;
  display: flex;
  justify-content: space-between;
}

.todo-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo svg{
  cursor: pointer;
}

.todo.complete{
  background-color: #a0e49944;
}

.container > .actions{
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
}

.product-page{
  display: flex;
  gap: 20px;
}

.product-catalog, .cart{
  border-radius: 14px;
  border: 2px solid white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.product-catalog-item{
  border-radius: 8px;
  padding: 14px;
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
}

.product-info img{
  max-width: 140px;
}

.cart-item{
  display: flex;
  align-items: center;
}

.cart-item .actions{
  margin-left: 12px;
  display: flex;
}